@charset "UTF-8";
* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'ParkLaneNF';
    src: url(fonts/ParkLaneNF.ttf);
}
@font-face {
    font-family: 'Cinzel Decorative Bold';
    src: url(fonts/CinzelDecorative-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
body {
    font: normal normal 1em Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to right, #FFE3E0, #FBC3BC);
    margin: 0px;
}
header {
    background-color: #fff;
    width: 1000px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    background-image: linear-gradient(45deg, #A288E3, #CCFFCB);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.411);
}
header > nav {
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    margin-top: 15px;
    font-size: 1.3em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);

}
.cabecalho {
    font-family: 'Cinzel Decorative Bold';
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
    padding: 5px;
    margin-left: 175px;
    display: inline-block;
    font-size: 3em;
}
h2 {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.37);
    font: normal lighter 1.5em Arial, Helvetica, sans-serif ;
    color: black;
    text-align: center;
}
h3 {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.37);
    font-size: 2.5em;
    color: #38023B;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
article > p {
    text-align: center;
}
nav > a {
    padding-right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    
}
nav > a:hover {
    text-decoration: underline;
}
main {
    background-color: #fff;
    width:1000px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.411);
}
footer {
    background-color: #fff;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.411);
    text-align: center;
}
.img1, .img2, .img3 {
    width: 400px;
    height: 500px;
    margin-left: 300px;
    margin-bottom: 20px;
    
}
.title1 {
    text-align: center;
    font-size: 1.5em;
}
.title2 {
    text-align: center;
    font-size: 1.5em;
}
.title3 {
    text-align: center;
    font-size: 1.5em;
}
.video {
    margin-left: 160px;
}