@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
.fundo {
    max-width: 100%;
    height: 100vh;
    background: black url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;
}
.astronauta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}