@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background-color: lightgray;
    width: 500px;
    height: 300px;
    margin: auto;
}
header > nav {
    background-color: grey;
    width: 250px;
    height: 150px;
    margin: auto;
}
main {
    background-color: rgb(94, 94, 94);
    width: 800px;
    height: 500px;
    margin: auto;
}
.video {
    background-color: red;
    display: inline-block;
    margin: 0px auto;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 100px;
}